* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: url('https://t3.ftcdn.net/jpg/04/01/64/84/360_F_401648425_Gs8hfhNJDDYJzLQDfYe0w3MkXIIpe5Vl.jpg') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}

.voltar {
    height: 6vw;
    width: 6vw;
    border: 2px solid black;
    border-radius: 5%;
    background: url("https://i.pinimg.com/originals/83/26/9e/83269efa1e0d1370f5f7f9b7b38819e2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: gray;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    margin-left: 2vw;
    float: left;
    margin-top: 20px;
  }
  
  .voltar:hover{
    background-color: brown;
    cursor: pointer;
  }

.start, .start2 {
    background-color: #111827;
    border: 1px solid transparent;
    border-radius: .75rem;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    flex: 0 0 auto;
    font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.5rem;
    padding: .75rem 1.2rem;
    text-align: center;
    text-decoration: none #6B7280 solid;
    text-decoration-thickness: auto;
    transition-duration: .2s;
    transition-property: background-color,border-color,color,fill,stroke;
    transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 300px;
    height: 50px;
    margin-left: 39.5vw;
    margin-top: 18vh;
    background-image: none;
    }
    
    .start:hover {
    background-color: #374151;
    }
    
    .start:focus {
    box-shadow: none;
    outline: 2px solid transparent;
    outline-offset: 2px;
    }
    
    .jogo3titulo {
        text-align: center;
        font-size: 20px;
        border: 0px solid red;
    }

    .lado1 {
        border: 0px solid black;
        width: 45%;
        height: 380px;
        float: left;
    }

    .lado2 {
        border: 0px solid black; 
        width: 45%;
        height: 380px;
        float: right;
        padding-right: -500px;
        
    }

    .start2red, .start2blue, .start2green, .start2pink, .start2orange, .start2brown, .start2purple{
        border: 1px solid transparent;
        border-radius: .75rem;
        box-sizing: border-box;
        color: #FFFFFF;
        cursor: pointer;
        flex: 0 0 auto;
        font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
        font-size: 1.125rem;
        font-weight: 600;
        line-height: 1.5rem;
        padding: .75rem 1.2rem;
        text-align: center;
        text-decoration: none #6B7280 solid;
        text-decoration-thickness: auto;
        transition-duration: .2s;
        transition-property: background-color,border-color,color,fill,stroke;
        transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        width: 300px;
        height: 50px;
        margin-left: 20vw;
        margin-top: 10vh;
        background-image: none;
        }

        .start2red, .start2blue, .start2green {
            margin-left: 20vw;
        }

        .start2orange, .start2brown, .start2purple{
            margin-left: 4.8vw;
        }

        .start2pink{
            margin-left: 39.6vw;
            margin-top: 4vh;
        }

    .start2red {
        background-color: red;
    }
    .start2blue {
        background-color: blue;
    }
    .start2green {
        background-color: green;
    }
    .start2pink {
        background-color: pink;
    }
    .start2orange {
        background-color: orange;
    }
    .start2brown {
        background-color: brown;
    }
    .start2purple {
        background-color: purple;
    }

    .centralizado {
        
        display: block;
        height: 25vw;
        margin-left: auto;
        margin-right: auto;
        min-width: none;
        max-width: 100%;
        transform:translate(-10%,5%);
    }

    .jogo3titulojogo {
        text-align: center;
        font-size: 18px;
        border: 0px solid red;
        margin-right: 8.5vw;
        margin-top: -20px;
    }

    #gruponome {
        font-size: xx-large;
        margin-top: -25px;
    
    }

    #alcool, #ester, #aldeido, #cetona, #fenol, #eter, #acido {
        height: 2.5vw;
        width: 2.5vw;
        float: left;
        margin-top: -25px;

    }

    #acido {
        margin-left: 38vw;
        
    }

    .aolado {
        float: right;
        width: 25vw;
        margin-top: -180px;
        border: 0px solid black;
    }
    
    .start2 {
        margin-left: 0;
        margin-top: 0;
    }

    .lado11 {
        border: 0px solid black;
        height: 230px;
        width: 40vw;
        padding-left: 25vw;
        border: 0px solid black;
        padding-top: 25px;
        margin-top: 40px;
       
        
    }

    .lado21 {
        border: 0px solid black;
        height: 235px;
        width: 40vw;
        padding-left: 5vw;
        float: right;
        margin-top: -210px;
        margin-left: 0px;
        border: 0px solid black;
    }


    