* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header{
    background-color: #0E6BA8;
    width: 100%;
    height: 80px;
}

.botao-1, .botaoselecionado0 {
    width: 35%;
    height: 100%;
    padding-top: 22px;
    float: left;
    text-align: center;
    transition: 350ms all;
    margin-right: 125px;
}

.botao-1 h1, .botaoselecionado0 h1{
    color: white;
    font-size: 30px;
}

.botao-1 a, .botaoselecionado0 a{
text-decoration: none;
}

.botao-1 h1:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.botao-2 a, .botao-2 h1 a, .botao-3 h1 a, .botao-4 h1 a, .botaoprojetos-2 a, .botaoprojetos-3 a, .botaoprojetos-4 a  {
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    text-decoration: none;
    color: black;
}

.botao-2 {
    float: left;
    width: 15%;
    height: 100%;
    padding-top: 20px;
    text-align: center;
    transition: 350ms all;
}

.botao-3, .botao-4 {
    float: left;
    width: 15%;
    height: 100%;
    padding-top: 20px;
    text-align: center;
    transition: 350ms all;
}

.background {
    width: 100%;
    height: 1120px;
    background-color:black;
    text-align: center;
    padding-top: 20px;
    padding-left: 5%;
}

.conteudo {
    width: 94%;
    height: 1090px;
    background-color: #001C55;
    padding-top: 10px;
}


.botaoselecionado1 h1, .botaoselecionado2 h1, .botaoselecionado3 h1 {
    font-size: 30px;
}

.botaoselecionado1 a, .botaoselecionado2 a, .botaoselecionado3 a {
    text-decoration: none;
}

.botaoselecionado1 {
    border: 1px solid black;
    float: left;
    width: 15%;
    height: 100%;
    padding-top: 20px;
    text-align: center;
    background-color: #A6E1FA;
}

.botaoselecionado2 {
    border: 1px solid black;
    float: left;
    width: 15%;
    height: 100%;
    padding-top: 20px;
    text-align: center;
    background-color: #A6E1FA;
}

.botaoselecionado3 {
    border: 1px solid black;
    float: left;
    width: 15%;
    height: 100%;
    padding-top: 20px;
    text-align: center;
    background-color: #A6E1FA;
}



.botaoselecionado h1:hover {
    cursor: pointer;
    transform: scale(1.1); 
}

.botao-2:hover, .botao-3:hover, .botao-4:hover {
    background-color: #A6E1FA;
    color: white;
    cursor: pointer
}

.faixa-fm{
    background-color: #A6E1FA;
    width: 100%;
    height: 200px;
    border-radius: 25px;
}

.botaojogar{
    border: 2px solid black;
    border-radius: 25px;
    width: 20%;
    margin-left: 40px;
    margin-top: 60px;
    float: left;
    font-size: xx-large;
    color: red;
    background-color: gray;
}

.botaojogar a{
    color: black;
    text-decoration: none;
}

.botaojogar:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.jogotitulo {
    float: left;
    margin-top: 75px;
    margin-left: 30px;
    font-size:medium;
}

.jogotexto {
    float: left;
    margin-left: 12px;
    margin-top: 0px;
    font-size: 11.5px;
    text-align: center;
    width: 550px;
    height: 200px;
}
